.header {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    background-color: white;
}

.header-content {
    display: flex;
    align-items: center;
    
}

.website-logo {
    height: 80px;
    padding-right: 100px;
    
    
    
   
    
}


.search-bar {
    width: 400px;
    height: 36px;
    padding-left: 8px;
    font-size: 16px;
    border: 1px solid rgb(171, 169, 169);
    border-radius: 18px 0px 0px 18px;
}
.search-button{
   border-radius: 0px 13px 13px 0;
   height: 42px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
   

}
